<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    </head>
    <body>
        <div class="container">
            <h1>Administracion de Eventos</h1>
            <a href="/crear">Agregar</a>
            <h2 th:if="${lista.isEmpty()}">No hay datos de eventos</h2>
            <div th:if="${!lista.isEmpty()}">
                <h2>Lista de Eventos</h2>
                <table border="1" class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Pais</th>
                            <th>Ciudad</th>
                            <th>Descripcion</th>
                            <th>Fecha Inicial</th>
                            <th>Fecha Final</th>
                            <th>Precio</th>
                            <th>WebSite</th>
                            <th>URL Afiche</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tmp:${lista}">
                            <td th:text="${tmp.id}"></td>
                            <td th:text="${tmp.nombre}"></td>
                            <td th:text="${tmp.correo}"></td>
                            <td th:text="${tmp.codPais}"></td>
                            <td th:text="${tmp.codCiudad}"></td>
                            <td th:text="${tmp.descripcion}"></td>
                            <td th:text="${tmp.fecInicial}"></td>
                            <td th:text="${tmp.fecFinal}"></td> 
                            <td th:text="${tmp.precio}"></td>
                            <td th:text="${tmp.urlEvento}"></td>
                            <td th:text="${tmp.imgAfiche}"></td>
                            <td>
                                <a th:href="@{/actualizar/{id}(id=${tmp.id})}">actualizar</a>
                            </td>
                            <td>
                                <a th:href="@{/eliminar/{id}(id=${tmp.id})}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
     </body>
</html>
